<?xml version="1.0" encoding="utf-8"?>
<XMLSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ClientPath>C:\UO</ClientPath>
  <DesignerFormSize>
    <Width>1366</Width>
    <Height>768</Height>
  </DesignerFormSize>
  <UndoLevels>25</UndoLevels>
</XMLSettings>